/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/farmerlogin1.jpg'); /* Change to your image path */
    background-size: cover;
    background-position: center;
}

.login-container {
    position: relative;
    width: 350px;
    text-align: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.subtext {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color:white;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: black;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #27ae60;
}

.error-msg {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
}

